
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
audio{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-family: "Times New Roman", Times, serif;
    color: white;
    text-align: center;
}

h3{
    font-family: cursive;
    color: black;
    text-align: center;  
}

h2{
    font-family: "Sofia", sans-serif;
    text-align: left;
}

p{
    font-size: 1.2em;
    text-indent: 30px;
}
body{
    background-color: lightblue;
    margin-left: 120px;
    margin-right: 120px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: navy;
}
li{
    float: left;
}
li a, .dropbtn{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn{
    background-color: white;
}
li.dropdown{
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
    background-color: white;
}
.dropdown:hover .dropdown-content{
    display: block;
}
img.diego{
        margin-left: auto;
        margin-right: auto;
        height: 150pt;
        display: block;
        width: 200pt;
}
img.constantino{
    margin-left: auto;
        margin-right: auto;
        height: 150pt;
        display: block;
        width: 200pt;
}
#box {
    display: block;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#box1 {
    display: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
