ul ul {
    list-style-image: url("images/smiley.gif")
}
div {
    display:flex;
    justify-content: center;
    z-index: 1;
}
h1{
    font-family: "Times New Roman", Times, serif;
    color: white;
    text-align: center;
}
h3 {
    position: relative;
    top: -60pt;
    z-index: 2;
    left: 430pt;
}
body{
    background-color: lightblue;
    margin-left: 120px;
    margin-right: 120px;
}
h2{
    font-family: Lucida Handwriting, cursive;
    color: white;
    text-align: center;
}